{% extends 'base.html' %} {% block content %}

<form action="">
    <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter old password">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Enter new password">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm new password">
    </div>
    <div>
        <button class="btn btn-success" type="button" style="width: 200px;">Cancel</button>
        <button class="btn btn-success" type="button" style="width: 200px;">Change</button>
    </div>
</form>{% endblock %}